<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Laundry</title>

</head>
<style>
    body{
        background: #eee
    }
.container3{
  margin: auto;
  width: 600px;
  height: 750px;
}
img {
        width: 120px;
        float: left;
        padding-right: 25px;
        padding-bottom: 10px;
    }
    .headlines{
        text-align: center;
    }
   
</style>

<body>
    <header>
        <!--Navbar-->
        {{> mainNav}}
        <!--/.Navbar-->

    </header>
    <br>
    <br>
    <br><br>
    <div class="container3">
        <div class="card">

            <h5 class="card-header info-color white-text text-center py-4">
                <strong></strong>
            </h5>

            <!--Card content-->
            <div class="card-body px-lg-5 pt-0">
                <h1>{{news.title}}</h1>
                <h2 class="headlines">All News </h2>
                <p>{{news.body}}</p>
                <hr>
                {{#each news}}
                <li class="News">
                   <a href="/news/singleNews"><img src="/images/outoforder.jpg"></a> 
              
                <h2><a href="/news/{{../permalink}}{{_id}}">{{title}}</a></h2>
                </li>
                {{/each}}





                <!-- Form -->
                <!-- Form -->

            </div>

        </div>
    </div>
    


</body>

</html>

